/* Глобальные свойства */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #5f5f5f;
  
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
  transition: 0.05s ease;
}

/* ----- Подключение локального шрифта Gilroy, что отсутствует на Google Fonts ----- */

@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/web/gilroylight.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/web/gilroyextrabold.woff) format('woff');
  font-weight:bold;
  font-style: normal;
}

/* --------------- Шапка сайта. Общие свойства --------------- */

header {
  margin-top: 40px;
}

nav {
  position: relative;
  
  height: 300px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px 60px 45px 60px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f7e296;
}

nav ul {
  list-style: none;
}

nav a {
  color: #000000;
}

nav  a:hover,
nav  a:focus {
  opacity: 0.5;
}

nav a:active {
  opacity: 0.3;
}

/* --------------- Шапка сайта. Логотопип --------------- */

nav > a {
  position: absolute;
  top: -15px;
  
  transition-timing-function: ease-in-out;
}

/* --------------- Шапка сайта. Свойства левокого блока меню --------------- */

.header-section-1 {
  position: relative;
  
  width: 200px;
}

.drop-menu {
  position: relative;
  
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.drop-menu > li > a {
  position: relative;
  
  font-family: Gilroy;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.drop-menu-list {
  position: relative;
  left: -60px;
  top: -30px;
  
  width: 580%;
  height: 130px;
  padding: 0;
  margin-top: 20px;
  
  display: flex;

  list-style: none;
  background-color: #f7e296;
  
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.drop-menu-list li {
  width: 200px;
  box-sizing: border-box;
  
  z-index: 2;
}

.drop-menu-list li:first-child {
  margin-left: 60px;
}

.drop-menu-list li:not(.meow) {
  padding-left: 50px;
}

.drop-menu-list li  a {
  display: inline-block;
  
  font-size: 15px;
  line-height: 36px;
  font-weight: lighter;
}

.drop-menu-list li  a:last-child {
  margin-bottom: 45px;
}

.drop-menu a:hover ~ .drop-menu-list,
.drop-menu a:focus ~ .drop-menu-list,
.drop-menu-list:hover
{
  z-index: 2;
  opacity: 1;
  top: 0;
}

.drop-menu-list > li > a:focus .drop-menu-list { 
  z-index: 2;
  opacity: 1;
  top: 0;
}

/* --------------- Форма поиска --------------- */

.header-section-1 form {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.header-section-1 input:first-child {
  width: 100%;
  padding-left: 35px;
  border: none;
  outline: inherit;
  
  background-color: inherit;
  
  opacity: 0.5;
}

.header-section-1 input:last-child {
  display: inline-block;
  
  width: 85px;
  height: 45px;
  border: 2px solid #000000;
  outline: inherit;
  
  background-color: inherit;
  opacity: 0;
}

.header-section-1 input:last-child:hover {
  color: white;
  
  background-color: #000000;
}

.header-section-1 input:last-child:active {
  color: white;
  
  background-color: #000000;
  opacity: 0.5;
}

.header-section-1 input:first-child:hover { 
  opacity: 1;
}

.header-section-1 input:first-child:focus {
  border-bottom: 2px solid black;
  
  opacity: 1;
}

.header-section-1 input:first-child:focus ~ input{
  opacity: 1;
}

/* --------------- Шапка сайта. Свойства Правого блока меню --------------- */

.header-section-2 {
  width: 500px;
}

.header-section-2 ul {
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-section-2 ul:nth-child(1) li:first-child {
  margin-right: 200px;
}

.header-section-2 ul:nth-child(1) {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 50px;
}

.header-section-2 ul:nth-child(1) li a {
  position: relative;
  padding-left: 27px;
  font-size: 15px;
  line-height: 30px;
}

.header-section-2 ul:nth-child(2) li {
  font-family: Gilroy;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
}

.header-section-2 ul:nth-child(2) li:last-child {
  margin-left: 100px;
}

/* --------------- Иконки для элементов навигации --------------- */

.header-section-2 ul:nth-child(1) li:nth-child(1) a::before {
  content: '';
  
  position: absolute;
  left: 0px;
  top: 0;
  
  width: 20px;
  height: 20px;
  
  background-image: url(/img/user.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-section-2 ul:nth-child(1) li:nth-child(2) a::before {
  content: '';
  
  position: absolute;
  left: 0px;
  top: 0;
  
  width: 20px;
  height: 20px;
  
  background-image: url(/img/compare.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-section-2 ul:nth-child(1) li:nth-child(3) a::before {
  content: '';
  
  position: absolute;
  left: 0px;
  top: 0;
  
  width: 20px;
  height: 20px;
  
  background-image: url(/img/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.drop-menu > li > a::after {
  content: '';
  
  position: absolute;
  top: 0;
  right: -33px;
  
  width: 17px;
  height: 17px;
  
  background-image: url(/img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  
  opacity: 0.2;
}

.header-section-1 form::before {
  content: '';
  
  position: absolute;
  left: 0;
  top: 25%;
  
  width: 20px;
  height: 20px;
  
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ------------------------------------ Слайдер №1 ------------------------------------ */

.slider_1 {
  position: relative;
  top: -30px;
  
  background-color: inherit;
  
  z-index: 1;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

/* ---------------- Оформление стилей слайда ---------------- */

.slider-item {  
  position: relative;
  
  width: 100%;
  height: 500px;
  padding:0 60px;
  
  display: none;
  justify-content: space-between;
  
  box-sizing: border-box;
}

.slider-content {
  width: 500px;
}

.slider-item h3 {
  position: relative;
  
  max-width: 500px;
  margin: 0;
  margin-bottom: 40px;
  
  font-family: Gilroy;
  font-size: 47px;
  line-height: 56px;
  font-weight: bolder;
  color: #000000;
  
  z-index: 2;
}

.slider-item p {
  max-width: 500px;
  margin: 0;
  margin-bottom: 65px;
  
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  
  color: #464646;
}

.slider-item table {
  margin: 0;
  margin-top: 65px;
  width: 460px;
  border-collapse: collapse;
}

.slider-item th {
  width: 100px;
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  font-weight: lighter;
  
  color: #000000;
}

.slider-item td {
  width: 100px;
  font-size: 13px;
  line-height: 20px;
}

/* ------------------ Ссылка слайда (общий класс для подобных ссылок) ------------------ */

.special-button {
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 220px;
  height: 40px;
  
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: bolder;
  text-transform: uppercase;
  
  color: #000000;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  z-index: 2;
}

.special-button::after {
  content: "";
  
  position: absolute;
  top: 40%;
  left: 0;
  
  width: 100%;
  height: 8px;
  
  background-color: #f0c52e;
  transition-timing-function: ease-in-out;
  z-index: -1;
}

.special-button:hover,
.special-button:focus
{
  background-color: #f0c52e;
}

.special-button:active {
  background-color: #f0c52e;
  opacity: 0.5;
}

/* --------------- Псевдоэлементы слайдера - счетчик и линия --------------- */

.slider-content {
  position: relative;
}

.slider-content::before {
  content: "";
  
  position: absolute;
  top: -8%;
  left: 0;
  
  width: 25%;
  border-top: 10px solid white;
}

.slider-content-1::after {
  content: "01";
  
  position: absolute;
  top: -4%;
  right: 0;
  
  font-family: Gilroy;
  font-weight: bolder;
  font-size: 180px;
  color: white;
}

.slider-content-2::after {
  content: "02";
  
  position: absolute;
  top: -4%;
  right: 0;
  
  font-family: Gilroy;
  font-weight: bolder;
  font-size: 180px;
  color: white;
}

.slider-content-3::after {
  content: "03";
  
  position: absolute;
  top: -4%;
  right: 0;

  font-family: Gilroy;
  font-weight: bolder;
  font-size: 180px;
  color: white;
}

/* --------------- Картинки для слайдера --------------- */

.slider-img {
  position: relative;
  top: -18%;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 550px;
  height: 490px;
  
  z-index: 1;
}

/* --------------- Контроллеры первого слайдера --------------- */

.slider-controls {
  position: absolute;
  right: 17%;
  top: 57%;
  bottom: 42%;
  
  width: 160px;
  height: 22px;
  text-align: center;
  
  font-size: 0;
  z-index: 1;
  transform: translateX(-50%);
}

.slider-controls label {  
  position: relative;
  
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;

  cursor: pointer;
  background-image: url('/img/slider-button-empty.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  transition: opacity 2s, top 1s;
  transform: scale(0.6);
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1),
#product-2:checked ~ .slider-list .slider-item:nth-child(2),
#product-3:checked ~ .slider-list .slider-item:nth-child(3){
  display: flex;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  
  position: absolute;
  left: 0;
  top: 0;
  
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;

  cursor: pointer;
  background-image: url('/img/slider-button.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  z-index: 1;
}

/* ------------------------ Секция №2. Первый список ------------------------ */

.section-block-1  {
  margin-bottom: 150px;
}

.section-block-1 ul {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 0;
}

.section-block-1 li {
  position: relative;
  
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0 20px;
  
  font-weight: bold;
  font-size: 18px;
}

.section-block-1 li:first-child {  
  margin-left: 0;
}

.section-block-1 li:last-child {
  margin-right:  0;
}

.picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 160px;
  height: 160px;
  
  background-color: #f7e296;
}

.section-block-1 a:hover .picture-container,
.section-block-1 a:focus .picture-container 
{
  background-color: #f0c52e;
}

.section-block-1 a:active  {
  opacity: 0.4;
}

/* ------------------------ Секция №3. Второй слайдер ------------------------ */

.slider-2 {
  height: 290px;
  box-sizing: border-box;
  
  background-color: #e5e5e5;
}

.slider-2 .container {
  position: relative;
  top: -30px;
  
  display: flex;
  justify-content: space-between;
  
  z-index: 1;
}

/* ------------------ Контроллеры второго слайда (левый блок) ------------------ */

.slider-2-controls {
  position: relative;
  
  display: flex;
  flex-direction: column;
}

.slider-2-controls::after {
  content: '';
  
  position: absolute;
  top: 40%;
  left: 50%;
  
  width: 100%;
  
  transform: rotate(90deg);
  border-top: 7px solid #000000;
}

.slider-2-controls .slider-controller {
  position: relative;
  
  width: 280px;
  height: 40px;
  margin-bottom: 25px;
  
  color: #000000;
  
  transition: 0.3s;
}

.slider-2-controls label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  padding: 0;
  margin: 0;
  
  font-family: Gilroy; 
  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
  letter-spacing: 2px;
  
  transition: background 0.3s ease;
}

/* ------------------ Содержание слайдов (правый блок) ------------------ */

.slider-2-list {
  margin: 0;
  padding: 0;
}

.slider-2-list li {
  position: relative;
  
  display: none;
  flex-direction: column;
  width: 700px;
  min-height: 200px;
}

.slider-2-list h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  
  font-family: Gilroy; 
  font-size: 47px;
  line-height: 48px;
  font-weight: bolder;
  color: #000000;
}

.slider-2-list p {
  width: 460px;
  
  font-size: 15px;
  line-height: 30px;
}

.slider-2-picture {
  position: absolute;
  right: 2%;
  top: -1%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

/* ------------------ Псевдоэлементы для лейблов ------------------ */

.slider-2-controls label::after {
  content: "";
  
  position: absolute;
  top: 48%;
  left: 0;
  
  width: 160px;
  height: 4px;
  
  background-color: #f0c52e;
  z-index: -1;
}

.slider-2-controls label:hover {
  background-color: #f0c52e;
} 

.slider-2-controls label:active {
  background-color: #000000;
  color: #f7e184;
}

.slider-2-controls label:active p {
  background-color: #000000;
}

#slider-2-product-1:checked ~ .slider-2-controls .slider-controller:nth-child(1),
#slider-2-product-2:checked ~ .slider-2-controls .slider-controller:nth-child(2),
#slider-2-product-3:checked ~ .slider-2-controls .slider-controller:nth-child(3) {
  background-color: #000000;
  color: #f7e184;
}

#slider-2-product-1:checked ~ .slider-2-controls .slider-controller:nth-child(1):hover label,
#slider-2-product-2:checked ~ .slider-2-controls .slider-controller:nth-child(2):hover label,
#slider-2-product-3:checked ~ .slider-2-controls .slider-controller:nth-child(3):hover label
{
  background-color: #000000;
}

#slider-2-product-1:checked ~ .slider-2-list li:nth-child(1),
#slider-2-product-2:checked ~ .slider-2-list li:nth-child(2),
#slider-2-product-3:checked ~ .slider-2-list li:nth-child(3) {
  display: flex;
}

/* ------------------------ Секция №4. Второй список ------------------------ */

.content-list-2 {
  margin-top: 100px;
  margin-bottom: 105px;
}

.content-list-2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-list-2 li {
  filter: grayscale(100%);
  opacity: 0.2;
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

.content-list-2 li:hover {
  filter: grayscale(0);
  opacity: 1;
}

/* ------------------------ Секция №5 "О нас" ------------------------ */

.section-block-2 .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.section-block-2 article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-block-2 article h2 { 
  position: relative;
  
  font-family: Gilroy; 
  font-size: 47px;
  line-height: 48px;
  font-weight: bolder;
  color: #000000;
}

.section-block-2 article h2::after {
  content: "";
  
  position: absolute;
  top: -50px;
  left: 0;
  
  width: 80px;
  border-top: 10px solid #000000;
}

.section-block-2 article p { 
  display: inline-block;
  margin: 0;
  margin-bottom: 45px;
  
  font-weight: lighter;
  text-align: justify-all;
}

.section-block-2 .special-button {
  width: 260px;
  margin-top: auto;
}

/* ------------------------ Левый артикль ------------------------ */

.section-block-2 article:nth-child(1) {
  width: 480px;
}

.section-block-2 article:nth-child(1) ul {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
  
  font-family: Gilroy; 
}

.section-block-2 article:nth-child(1) li {
  position: relative;
  
  padding-left: 35px;
  
  font-family: Gilroy; 
  font-weight: bold;
}

.section-block-2 article:nth-child(1) li a {
  position: relative;
  
  font-family: Gilroy; 
  font-weight: bold;
}

.section-block-2 article:nth-child(1) li a:hover,
.section-block-2 article:nth-child(1) li a:focus
{
  opacity: 0.5;
}

.section-block-2 article:nth-child(1) li a:active {
  opacity: 0.3;
}

.section-block-2 article:nth-child(1) li::before {
  content: '';
  
  position: absolute;
  bottom: 30%;
  left: 0;
  
  display: inline-block;
  width: 10px;
  height: 10px;

  background-image: url('/img/slider-button.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.2;
}

/* ------------------------ Правый артикль ------------------------ */

.section-block-2 article:nth-child(2) {
  width: 560px;
}

.map-container {
  width: 560px;
  height: 220px;
}

.map-container a > img {
  transition: 0.3s;
}

.map-container a:hover > img {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0.2, 0, 0, 0.2);
}

/* -------------------------------- Подвал сайта -------------------------------- */

footer {
  background-color: #464646;
}

footer .container {
  display: flex;
  flex-direction: column;
  padding: 65px 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
}

footer p {
  color: #ffffff;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ---------------- Первый блок подвала ---------------- */

.footer-section a:hover,
.footer-section a:focus 
{
  opacity: 0.6;
}

.footer-section  a:active {
  opacity: 0.4;
}

.footer-section-1 ul li{
  margin-left: 40px;
}

.footer-section-1 ul li:first-child {
  margin-left: 0;
}

.footer-section-1 ul li a {
  position: relative;
  
  padding-left: 23px;
  
  font-size: 15px;
  line-height: 30px;
  color: white;
  opacity: 0.6;
}

.footer-section-1 ul li a:hover {
  opacity: 1;
}

.footer-section-1 ul li a:active,
.footer-section-1 ul li a:focus {
  opacity: 0.3;
}

.footer-section-1 ul li:nth-child(1) a::before {
  content: '';
  
  position: absolute;
  left: 0px;
  top: 0;
  
  width: 20px;
  height: 20px;
  
  background-image: url(/img/user-color.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-section-1 ul li:nth-child(2) a::before {
  content: '';
  
  position: absolute;
  left: 0px;
  top: 0;
  
  width: 20px;
  height: 20px;
  
  background-image: url(/img/compare-color.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-section-1 ul li:nth-child(3) a::before {
  content: '';
  
  position: absolute;
  left: 0px;
  top: 0;
  
  width: 20px;
  height: 20px;
  
  background-image: url(/img/cart-color.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------- Второй блок подвала ---------------- */

.footer-section-2 {
  align-items: baseline;
}

.footer-section-2 p:first-child {
  opacity: 0.5;
}

.footer-section-2 li{
  margin-right: 35px;
}

.footer-section-2 a{
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: white;
}

/* ---------------- Третий блок подвала ---------------- */

.footer-section-3 ul {
  margin: 0 auto;
}

.footer-section-3 li:not(.twitter) {
  margin-right: 22px;
}

.footer-section-3 a {
  opacity: 0.5;
}

.footer-section-3 a:hover,
.footer-section-3 a:focus {
  opacity: 1;
}

.footer-section-3 a:active {
  opacity: 0.4;
}

/* ---------------------- Модальное окно №1. Личный кабинет (block) ------------------------- */

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%,0);
  
  width: 960px;
  box-sizing: border-box;
  padding: 100px;
  
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 5;
  background-color: white;
}

.modal-login {
  display: none;
}

/* ---------------- Классы и анимации для JS ---------------- */

.modal-show {
  display: block;
  
  animation: bounce 0.8s;
}

.modal-show-flex {
  display: flex;
  
  animation: bounce 0.8s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    opacity: 0.1;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* ---------------- Крестик ---------------- */

.modal-close {
  position: absolute;
  top: 2%;
  right: 2%;
  
  width: 55px;
  height: 55px;
  border: 0;
  
  background-color: transparent;
  opacity: 0.6;
  cursor: pointer;
}

.modal-close::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 55px;
  height: 55px;

  background-image: url('/img/modal-close.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.4;
}

/* ---------------- Ссылка ---------------- */

.modal-form .special-button {
  width: 200px;
  border: none;
  
  background-color: inherit;
  outline: inherit; 
}

.modal-form .special-button:hover,
.modal-form .special-button:focus
{
  background-color: #f0c52e;
}

.modal-form .special-button::after {
  top: 43%;

  width: 200px;
}

/* ----------------- Форма ----------------- */

.stroke-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

.stroke-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-login label {
  margin-bottom: 10px;
  
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
}

.stroke-column input {
  width: 360px;
  padding: 19px;
  box-sizing: border-box;
  border: 3px solid white;
  
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
  
  background-color: #eaeaea;
  outline: inherit;
}

.stroke-column textarea{
  width: 100%;
  padding: 19px;
  box-sizing: border-box;
  border: 3px solid white;
  margin-bottom: 45px;
  
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
  
  background-color: #eaeaea;
  outline: inherit;
}

.stroke-column input:hover,
.stroke-column textarea:hover {
  opacity: 1;
}

.stroke-column input:focus,
.stroke-column textarea:focus {
  color: #000000;
  background-color: white;
  opacity: 1;
  border-color: #f7e296;
}

input:invalid {
  background-color: #f6dada;
  opacity: 1;
}

textarea:invalid {
  background-color: #f6dada;
  opacity: 1;
}

/* --------------------- Модальное окно №2. Карта (flex) ---------------------- */

.modal-map {
  display: none;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 540px;
  padding: 0;
  box-sizing: border-box;
  
  background-color: inherit;
}

.modal-map  img {
  position: absolute;
  
  z-index: -1;
}

.modal-map iframe {
  position: relative;
}

.modal-show-flex {
  display: flex;
}

/* ----------------------------------- Вторая страница (catalog.html) ---------------------------------- */

/* --------------------- Main - навигация ---------------------- */

.selfi-sorting {
  padding-left: 80px;
  margin-bottom: 40px;
}

.selfi-sorting ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.selfi-sorting li{
  position: relative;
  
  display: inline-block;
  padding-right: 25px;
}

.selfi-sorting a{
  opacity: 0.6;
}

.selfi-sorting .nav-arrow::after{
  content: '';
  
  position: absolute;
  top: 40%;
  right: 5px;
  
  width: 9px;
  height: 9px;

  background-image: url(/img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.selfi-sorting a:hover,
.selfi-sorting a:focus
{
  opacity: 1;
}

.selfi-sorting a:active {
  opacity: 0.3;
}

/* ------------------------------ Основная сетка --------------------------------- */

.big-container {
  position: relative;
  
  display: flex;
}

.main-strip {
  position: relative;
  
  background-color: #efefef;
}

.main-strip .container, 
.big-container .container {
  display: flex;
}

.left-container {
  width: 200px;
  padding-right: 68px;
  padding-left: 60px;
  
  background-color: #efefef;
}

.left-container::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100%;
  width: 20%;
  
  background-color: #efefef;
}

.right-container {
  box-sizing: border-box;
  padding-left: 55px;
}

/* --------------------- Заголовок фильтров ---------------------- */

.filter-heading { 
  display: flex;
  align-items: center;
  width: 200px;
  padding-right: 68px;
  padding-left: 60px;
  height: 70px;
  
  background-color: #dbdbdb;
}

.filter-heading::before { 
  content: '';
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: 20%;
  height: 70px;
  
  background-color: #dbdbdb;
}

.filter-heading h2 {
  padding: 0;
  margin: 0;
  
  font-family: Gilroy;
  font-size: 16px;
  line-height: 24px;  
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

/* ------------------------------ Блок сортировки --------------------------------- */

.sorting-section {
  display: flex;
  flex: 1;
  align-items: center;
  height: 70px;
  box-sizing: content-box;
  padding-left: 37px;
  padding-right: 20px;
  
  background-color: #ebebeb;
}

.sorting-section h2 {
  margin: 0;
  margin-right: 50px;
  
  font-family: Gilroy;
  font-size: 16px;
  line-height: 24px;  
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-section li {
  display: inline-block;
  margin-right: 20px;
}

.sort-container > li > a {
  color: #000000;
  opacity: 0.4;
  transition: 0.25s;
}

.sort-container > li > a:hover,
.sort-container > li > a:focus {
  opacity: 0.6;
}

.sort-container > li > a:active {
  opacity: 1;
}


.sorting-section .arrow-container {
  margin-left: auto;
  list-style: none;
  padding: 0;
}

.sorting-section .arrow-container li {
  margin: 0;
  padding: 0;
}

.arrow-container .arrow {
  display: block;
  border: 11px solid #0074d9;
  border-right-width: 6px;
  border-left-width: 5px;
  border-color: #231f20;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
  
  opacity: 0.3;
  transition: 0.25s;
}

.arrow-up {
  margin-right: 20px;
  
  transform: rotate(180deg);
}

.arrow:hover,
.arrow:focus {
  border-top-color: #231f20;
  outline: none;
  opacity: 0.6;
}

.arrow:active {
  opacity: 1;
}

.arrow-container .arrow-selected {
  opacity: 1;
}

/* --------------------------------- Блок фильтров --------------------------------- */

/* --------------------- Фильтр с ползунками ---------------------- */

.filter-range {   
  position: relative;
  
  width: 200px;
  padding: 0;
  margin-top: 70px;
  border: none;
  border-top: 2px solid black;
  
  background-color: #eeeeee; 
}

.filter-range h3{
  margin: 0;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 0;
  
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
  
.price-controls { 
  position: absolute;
  bottom: 0px;
  
  height: 36px;
  
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  
  font-size: 14px;
  line-height: 38px;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: inherit;
}

.range-controls {
  position: relative;

  margin-bottom: 35px;
}

.range-controls .scale {
  height: 2px;

  background: #000000;
  opacity: 0.4;
}

.range-controls .bar {
  width: 50%;
  height: 2px;

  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: -2%;
}

.range-toggle-max {
  left: 50%;
}

.range-toggle:hover {
  background: #91c92f;
}

.range-toggle:active {
  transform: scale(1.2);
}

/* --------------------- Фильтр цветов ---------------------- */

.filter {   
  width: 200px;
  padding: 0;
  border: none;
  border-top: 2px solid black;
  margin-top: 15px;
}

.filter h3 { 
  margin-bottom: 20px;
  margin-top: 15px;
  
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.filter-color ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-color li {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.filter-color label {  
  position: relative;
  padding-left: 40px;
  
  font-size: 14px;
  line-height: 40px;
  color: black;
}

.color-item label::before{
  content: '';
  
  position: absolute;
  top: 20%;
  left: 0;
  
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;

  cursor: pointer;
  background-image: url('/img/checkbox-off.svg');
  background-repeat: no-repeat;
  transition: 0.25s;
}

.color-item label::before:hover{
  opacity: 0.5;
}

.color-item input:checked + label::before {
  background-image: url('/img/checkbox-on.svg');
}

.color-item input:disabled + label {
  opacity: 0.3;
}

/* --------------------- bluetooth фильтр ---------------------- */

.bluetooth-filter {
  display: flex;
}

.bluetooth-filter label{
  position: relative;
  padding-left: 40px;
  
  font-size: 14px;
  line-height: 40px;
  color: black;
}

.bluetooth-filter label::before{
  content: '';
  
  position: absolute;
  top: 20%;
  left: 0;
  
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;

  cursor: pointer;
  background-image: url('/img/radio-off.svg');
  background-repeat: no-repeat;
  transition: 0.25s;
}

.bluetooth-filter input:checked + label::before {
  background-image: url('/img/radio-on.svg');
}

.bluetooth-filter a{
  margin: 40px 0;
}

.bluetooth-filter input:disabled + label {
  opacity: 0.3;
}

/* --------------------- Фильтр товаров ---------------------- */

.list-section  {
  padding-top: 70px;
}

.list-section ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-item  {
  position: relative;
  
  display: inline-block;
}

.list-item p {
  display: flex;
  justify-content: space-between;
  
  font-family: Gilroy;
}

.list-item p > a {
  width: 260px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
}

.list-item p > a:hover,
.list-item p > a:focus {
  opacity: 0.6;
}

.list-item p > a:active {
  opacity: 0.3;
}

.flag-new {
  position: absolute;
  right: 27px;
  top: 27px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  
  color: black;
  text-transform: uppercase;
  opacity: 0.2;
}

.product-hint {
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 81%;
  
  background-color: rgba(239,239,239,0.7);
  z-index: 10;
  transition: 0.5s;
  opacity: 0;
}

.product-hint .compare{
  margin-top: 20px;
  margin-bottom: -50px;
  
  font-size: 13px;
  line-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.product-hint .compare:hover,
.product-hint .compare:focus {
  opacity: 1;
}

.product-hint .compare:active {
  opacity: 0.3;
}

.list-item-container:hover .product-hint  {
  opacity: 1;
}

/* --------------------- Навигация по товарам ---------------------- */

.nav-section {
  margin-bottom: 80px;
  margin-top: 20px;
  
  background-color: #ebebeb;
}

.nav-section ul {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-section li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100%;
  
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.nav-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-button a:hover,
.nav-button a:focus {
  background-color: #d9d9d9;
}

.nav-button a:active {
  opacity: 0.5;
}

.nav-button-ul li{
  width: 40px;
}

.nav-button-ul li a {
  opacity: 0.3;
}

.nav-button-ul li a:hover,
.nav-button-ul li a:focus {
  opacity: 0.6;
}

.nav-button-ul li a:active,
.nav-button-ul li .selected {
  opacity: 1;
}
